/* global variables */

:root {
    /* colors */
    --bg-black: #1C1F21;
    --bg-app: #24282A;
    --bg-text: #2B2E30;
    --bg-text-hover: hsl(204, 5%, 21%);
    --text-inactive: hsl(180, 5%, 70%);
    --text-active: #FFF;
    --accent: #18A0FB;
    --active: #008ce9;
    --accent-dark: hsl(204, 50%, 30%);
    --warning: #EE766D;
    --text-highlight: #18A0FB;
}

/* universal reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* document styles */
html {
    /* base font styles */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1rem;
    color: var(--text-active);
}

header {
    padding-top: 5.5rem;
}

body {
    background-color: var(--bg-app);
    min-width: 325px;
    width: 100%;
    min-height: 100vh;
}

/* universal styles */

/* links */
a,
a:visited {
    text-decoration: 0;
    color: var(--text-active);
}

/* || Components */

.input-field {
    /* .input */
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 300;
    padding: 0 1rem;
    color: var(--text-inactive);
    background-color: var(--bg-text);
    outline: 0;
    border: .125rem solid transparent;
    border-radius: .125rem;
}

.input-field:hover {
    background-color: var(--bg-text-hover);
}

.input-field:focus {
    color: var(--text-active);
    border-color: var(--accent);
}

.btn {
    color: var(--text-active);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1rem;
    padding: .5rem 1.875rem;
    border-radius: 2rem;
    border: 0;
    background-color: var(--bg-text);
    letter-spacing: .15rem;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--accent);
}

.btn:active {
    background-color: var(--active);
}

/* || LOGIN PAGE */

.title {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    text-align: center;
    font-size: 3.052rem;
    letter-spacing: .1rem;
    line-height: 4.5rem;
    /* margin-top: 5.5rem; */
}

.wrapper--login {
    width: 17.44rem;
    text-align: center;
    margin: 0 auto;
}

.login__heading {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.input-field--login,
.input-field--sign-up {
    width: 100%;
    height: 2rem;
    margin: 1rem auto;
    display: block;
}

.input-field--login:valid,
.input-field--sign-up:valid {
    border-color: hsl(80, 100%, 50%);
}

.input-field--login:not(:placeholder-shown):invalid,
.input-field--sign-up:not(:placeholder-shown):invalid {
    border-color: var(--warning);
}

.detail-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

.detail {
    font-size: .625rem;
}

.detail--checkbox {
    border: 0;
    margin-right: .5rem;
}

.detail--link {
    margin-left: auto;
    cursor: pointer;
}

.detail--link:hover {
    color: var(--accent);
}

.btn--login,
.btn--sign-up {
    margin-bottom: 4rem;
    margin-top: .5rem;
}

.btn--testmode {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

/* || NOTES HOME */

.navbar {
    width: 100%;
    min-width: 325px;
    background-color: var(--bg-text);
    font-family: 'Comfortaa', cursive;
    color: var(--text-inactive);
    position: fixed;
    top: 0;
    z-index: 2;
}

.navbar__items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.navbar__hamburger {
    width: 1.21rem;
    height: 1rem;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger {
    height: 2px;
    width: 16px;
    margin: 0 auto;
    background-color: var(--text-active);
    border-radius: .1rem;
    position: relative;
}

.hamburger::before {
    content: '';
    height: 2px;
    width: 16px;
    margin: 0 auto;
    background-color: var(--text-active);
    border-radius: .1rem;

    position: absolute;
    top: -5px;
}

.hamburger::after {
    content: '';
    height: 2px;
    width: 16px;
    margin: 0 auto;
    background-color: var(--text-active);
    border-radius: .1rem;

    position: absolute;
    top: 5px;
}

.hamburger--minus {
    overflow: hidden;
}

.navbar__brand {
    color: var(--text-active);
    font-weight: 700;
    font-size: 1.563rem;
    line-height: 2rem;
    margin-right: auto;
    letter-spacing: 0.1em;
}

.navbar__toolbar {
    margin: .5rem auto;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-left: 2rem;
}

.toolbar__tool {
    padding: .5rem;
    margin: 0 .5rem;
    font-size: .8rem;
    cursor: pointer;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    color: var(--text-inactive);
}

/* .toolbar__tool:active {
    background-color: red;
} */

.toolbar__tool--is-selected {
    color: var(--text-active);
    background-color: var(--bg-black);
}

.navbar__search-bar {
    width: 30%;
    min-width: 325px;
    margin-right: 1rem;
    margin: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__search-icon {
    font-size: 1rem;
    padding: 0 .5rem;
    cursor: pointer;
    /* need pro font awesome account for weight: light */
}


.input-field--search {
    font-family: 'Comfortaa', cursive;
    letter-spacing: .1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 5rem;
    background-color: var(--bg-app);
}

.note-grid {
    padding: 8.5rem 3vw 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 20px;
    grid-template-rows: auto;
}

.note {
    /* change this back to width to prevent note stretch */
    /* padding: 1.5rem; */
    min-width: 25vw;
    min-height: 200px;
    color: var(--text-inactive);
    background-color: var(--bg-text);
    transition: all .1s linear;
    position: relative;
    outline: 4px solid transparent;
    border: 0;
    font-family: inherit;
    line-height: 1.5rem;
    letter-spacing: 1px;
    font-size: 1rem;
    /* white-space: pre-wrap; */
    /* word-wrap: break-word;
    overflow: auto; */
}

/* blockquote {
    margin-left: 2rem;
} */

.note--deleted {
    transform: scale(0);
}

.note:hover {
    outline: 4px solid var(--accent-dark);
}

.note:focus-within {
    outline: 4px solid var(--accent);
}

.note:hover,
.note:focus-within {
    line-height: 1.6rem;
    cursor: text;
    color: var(--text-active);
    transform: scale(1.03, 1.03);
}

.note__text {
    caret-color: var(--accent);
    outline: none;
    border: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: inline-block;
    /* white-space: pre-line; */
    word-wrap: break-word;
    overflow: auto;
}

.note__text:focus+.note__btn--delete {
    visibility: visible;
}

.note__text:empty:before {
    content: '\"New note created\"';
    font-weight: 300;
    font-style: italic;
}

.note__btn--delete {
    line-height: 1rem;
    letter-spacing: 0;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 8px;
    right: 8px;
    color: var(--text-inactive);
    visibility: hidden;
}

.note__btn--delete:hover {
    cursor: pointer;
    color: var(--accent);
}

.note__btn--delete:hover .tooltip {
    visibility: visible;
    color: var(--text-inactive);
}

.note__btn--delete:hover .tooltip:hover {
    color: var(--warning);
}

.tooltip {
    position: absolute;
    top: -7px;
    left: -4.8rem;
    z-index: 100;
    background-color: var(--bg-black);
    padding: .8rem;
    border-radius: .4rem;
    font-size: .8rem;
    font-weight: 400;
    visibility: hidden;
}

.tooltip::before {
    content: '';
    position: absolute;
    top: 25%;
    left: 100%;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent transparent var(--bg-black);
}

.menu__wrapper {
    z-index: 1;
    position: fixed;
    left: -100vw;
    top: 0;
    /* desktop */
    /* top: 2.9rem; */
    /* width: 15rem; */
    width: 100%;
    height: 100vh;
    background-color: var(--bg-black);
    visibility: hidden;
    transition: all .6s ease;
}

/* menu visibility state */
.menu--is-visible {
    left: 0px;
    visibility: visible;
}

.menu {
    width: 100%;
    margin-top: 6rem;
    /* change this height to move items vertically */
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-family: 'Comfortaa', cursive;
}

.menu__username-label {
    background-color: var(--bg-text);
    padding: .5rem 1rem;
    border: 2px solid var(--accent);
    border-radius: 5px;
}

.menu__link {
    font-size: 1.563rem;
}

.menu__link:hover {
    color: var(--accent);
}

.btn--add-note {
    position: fixed;
    bottom: 25px;
    right: 25px;

    padding: 1.8rem 1rem 2rem;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0;
    line-height: 0;
    background-color: var(--bg-black);
}

.text--highlight {
    background-color: var(--text-highlight);
    color: var(--bg-black);
    border-radius: 2px;
    padding: 2px;
}

.hide {
    display: none;
}

/* || media queries for responsiveness */
/* target tablet sized screens at breakpoint w=480px */
/* most pages will remain stacked as mobile design */
@media screen and (min-width: 480px) {
    .menu__wrapper {
        position: fixed;
        left: -15rem;
        width: 15rem;
    }

    /* must add this again for javascript to find */
    .menu--is-visible {
        left: 0px;
        visibility: visible;
    }

    .note-grid {
        padding-top: 7rem;
    }
}

/* target laptop screens at breakpoint w=768px */
@media screen and (min-width: 838px) {
    .note-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 20px;
        grid-template-rows: auto;
        padding: 4rem 3vw 2rem;
    }
}

/* target large desktop screens at breakpoint w=1280px */
@media screen and (min-width: 1280px) {}



/* TODO: menu slides in from 100vw, lags on anything other than */